/PPTX/~$PhytonForAll.pptx
/Vision 2026/yolo11s.pt
/Vision 2026/yolo26n.pt
/Vision 2026/yolov8n.pt
/.idea/copilot.data.migration.agent.xml
/Vision 2026/runs/detect/Vision2026/args.yaml
/Vision 2026/runs/detect/Vision2026_v2/args.yaml
/Vision 2026/runs/detect/Vision2026_v22/args.yaml
/Vision 2026/runs/detect/Vision2026_v23/args.yaml
/Vision 2026/runs/detect/Vision2026_v24/args.yaml
/Vision 2026/runs/detect/Vision20262/args.yaml
/Vision 2026/runs/detect/Vision20263/args.yaml
/Vision 2026/runs/detect/Vision20264/args.yaml
/Vision 2026/runs/detect/Vision20265/args.yaml
/Vision 2026/runs/detect/Vision2026_v24/weights/best.engine
/Vision 2026/runs/detect/Vision2026_v24/weights/best.onnx
/Vision 2026/runs/detect/Vision2026_v22/BoxF1_curve.png
/Vision 2026/runs/detect/Vision20263/BoxF1_curve.png
/Vision 2026/runs/detect/Vision2026_v22/BoxP_curve.png
/Vision 2026/runs/detect/Vision20263/BoxP_curve.png
/Vision 2026/runs/detect/Vision2026_v22/BoxPR_curve.png
/Vision 2026/runs/detect/Vision20263/BoxPR_curve.png
/Vision 2026/runs/detect/Vision2026_v22/BoxR_curve.png
/Vision 2026/runs/detect/Vision20263/BoxR_curve.png
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/Vision 2026/runs/detect/Vision2026/train_batch0.jpg
/Vision 2026/runs/detect/Vision2026_v2/train_batch0.jpg
/Vision 2026/runs/detect/Vision2026_v22/train_batch0.jpg
/Vision 2026/runs/detect/Vision2026_v23/train_batch0.jpg
/Vision 2026/runs/detect/Vision2026_v24/train_batch0.jpg
/Vision 2026/runs/detect/Vision20263/train_batch0.jpg
/Vision 2026/runs/detect/Vision20265/train_batch0.jpg
/Vision 2026/runs/detect/Vision2026/train_batch1.jpg
/Vision 2026/runs/detect/Vision2026_v2/train_batch1.jpg
/Vision 2026/runs/detect/Vision2026_v22/train_batch1.jpg
/Vision 2026/runs/detect/Vision2026_v23/train_batch1.jpg
/Vision 2026/runs/detect/Vision2026_v24/train_batch1.jpg
/Vision 2026/runs/detect/Vision20263/train_batch1.jpg
/Vision 2026/runs/detect/Vision20265/train_batch1.jpg
/Vision 2026/runs/detect/Vision2026/train_batch2.jpg
/Vision 2026/runs/detect/Vision2026_v2/train_batch2.jpg
/Vision 2026/runs/detect/Vision2026_v22/train_batch2.jpg
/Vision 2026/runs/detect/Vision2026_v23/train_batch2.jpg
/Vision 2026/runs/detect/Vision2026_v24/train_batch2.jpg
/Vision 2026/runs/detect/Vision20263/train_batch2.jpg
/Vision 2026/runs/detect/Vision20265/train_batch2.jpg
/Vision 2026/runs/detect/Vision2026_v22/train_batch1280.jpg
/Vision 2026/runs/detect/Vision2026_v22/train_batch1281.jpg
/Vision 2026/runs/detect/Vision2026_v22/train_batch1282.jpg
/Vision 2026/runs/detect/Vision20263/train_batch2880.jpg
/Vision 2026/runs/detect/Vision20263/train_batch2881.jpg
/Vision 2026/runs/detect/Vision20263/train_batch2882.jpg
/Vision 2026/TEST/labels/val.cache
/Vision 2026/runs/detect/Vision2026_v22/val_batch0_labels.jpg
/Vision 2026/runs/detect/Vision20263/val_batch0_labels.jpg
/Vision 2026/runs/detect/Vision2026_v22/val_batch0_pred.jpg
/Vision 2026/runs/detect/Vision20263/val_batch0_pred.jpg
/Vision 2026/runs/detect/Vision2026_v22/val_batch1_labels.jpg
/Vision 2026/runs/detect/Vision20263/val_batch1_labels.jpg
/Vision 2026/runs/detect/Vision2026_v22/val_batch1_pred.jpg
/Vision 2026/runs/detect/Vision20263/val_batch1_pred.jpg
/Vision 2026/runs/detect/Vision2026_v22/val_batch2_labels.jpg
/Vision 2026/runs/detect/Vision20263/val_batch2_labels.jpg
/Vision 2026/runs/detect/Vision2026_v22/val_batch2_pred.jpg
/Vision 2026/runs/detect/Vision20263/val_batch2_pred.jpg
